@font-face {
    font-family: main;
    src: url(Oswald-VariableFont_wght.ttf);
}
@font-face {
    font-family: secondary;
    src: url(FiraSans-Regular.ttf);
}

html{
    text-align: center;
    background: #d5b8f2;
    color: #5c05b3;
    font-family: main;
}

h1{
    font-size: 3em;
}

iframe{
    width: 100%;
}

button{
    background: #ab87f5;
    padding: 0.75%;
    width: 100px;
    margin: 1%;
    border-radius: 5px;
    border: outset #672abd 4px;
    font-family: secondary;
    font-size: 1.05em;
    transition: 0.5s;
}
button:hover{
    background: #672abd;
    border: outset #ab87f5 4px;
    color: white;
    padding: 1.05%;
    font-size: 1.1em;
    width: 125px;
    cursor: pointer;
}

h4{
    margin-bottom: 0.25%;
}

h5{
    margin-top: 0.25%;
    margin-bottom: 5%;
}

p{
    color: black;
}

section#item{
    background: #ab87f5;
    padding: 0.75%;
    margin: 5%;
    border-radius: 5px;
    border: outset #672abd 4px;
    font-family: secondary;
    font-size: 1.05em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
}

/* -----Games----- */

/* Desktop */

@media (max-width: 10000px){
    section#python{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
    section#virtualBasic{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
    section#gDevelop{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
    section#mods{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
}

/* Tablet */

@media (max-width: 1024px){
    section#python{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
    section#virtualBasic{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
    section#gDevelop{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
    section#mods{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
}

/* Mobile */

@media (max-width: 767px){
    section#python{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    section#virtualBasic{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
    section#gDevelop{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
    section#mods{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
}

/* Singular */

section#unity{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
}

/* -----Art----- */

/* Desktop */

@media (max-width: 10000px){
    
}

/* Tablet */

@media (max-width: 1024px){
    
}

/* Mobile */

@media (max-width: 767px){
    
}

/* Singular */

/* -----Videos----- */

/* Desktop */

@media (max-width: 10000px){
    section#editing{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
    section#silly{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
    section#gameplay{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
    section#act{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
}

/* Tablet */

@media (max-width: 1024px){
    section#editing{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
    section#silly{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
    section#gameplay{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
    section#act{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
}

/* Mobile */

@media (max-width: 767px){
    section#editing{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
    section#silly{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
    section#gameplay{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
    section#act{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 5px;
    }
}

/* -----Websites----- */

/* Desktop */

@media (max-width: 10000px){
    
}

/* Tablet */

@media (max-width: 1024px){
    
}

/* Mobile */

@media (max-width: 767px){
    
}

/* Singular */